/* Add your font via Google Font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

@keyframes gradient {
0%{
  background-position: 0% 50%;
  }
50%{
  background-position: 100% 50%;
  }
100% {
  background-position: 0% 50%;
  }
}
/* CSS Reset, you don't need to understand these, i just copy paste it so it reset the CSS style */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  background-image: linear-gradient(
    100deg,
    #bdc3c7,
    #2c3e50,
    #bdc3c7,
    #2c3e50
  );
  height: 100vh;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  line-height: 1;
}
body {
  
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end of reset */

/* Define your color scheme here, taken from Fullyhacks color scheme */

:root {
  --body_bg: #fffaf1;
  --sky_100: #abe1ff;
  --sky_300: #18aaff;
  --blue_300: #385ddf;
  --purple_300: #9ea8ff;
  --purple_hover: #3b3561;
  --purple_500: #4f38df;
  --pink_700: #b438df;
  --pink_400: #ff8f8f;
  --pink_300: #df389c;
  --pink_100: #ffabce;
  --orange_300: #ffc985;
  --orange_100: #ffedcc;
  --purple_main: #340b67;
  --purple_main_hover: #b49fcc;
  background-image: linear-gradient(
    100deg,
    #bdc3c7,
    #2c3e50,
    #bdc3c7,
    #2c3e50
  );
}

html {
  background-color: var(--orange_100);
  font-family: "Rubik";
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.nav{
  border: 1px solid black;
  background-color: #508bfc;
  padding: 2rem;
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: 1.5rem;
}

.navlink { 
    /* border: 1px solid black; */
    
    height: 100%;
    width: 100%;
    padding: 29px 87px;
    text-decoration: none;
    color: black;
    list-style: none;
    box-shadow: inset 0 0 0 0 #bdc3c7;
    transition: ease-out 0.7s;

}
.navlink:hover {
  box-shadow: inset 400px 0 0 0 #2c3e50;
  /* box-shadow: inset 70px 0 0 0 #2c3e50; */
  /* box-shadow: inset -70px 0 0 0 yellow; */
  color: White;

}
.title {
  color: var(--sky_300);
  margin-top: 2rem;
  font-size: 2rem;
}
.pictureCaption {
  margin-top: 1rem;
}
.fullypic {
  margin-top: 2rem;
  object-fit: cover;
}

.search-container{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    width: 40vw;
    background: #508bfc;
    padding: 0.5rem;
    border-radius: 50px;
    color: black;
    /* x-direction, y-direction, shadow, color*/
    box-shadow: 0.25rem 0.25rem 1rem rgb(55, 53, 53);
    margin: auto;
    margin-top: 10%;
    border: 2px solid black;
  }

.fa-times{
  margin-left: auto;
}

 input{
    font-size: 1.5rem;
    /* top, right, bottom, left */
    margin: 0 0.5rem 0 0.5rem;
    border: none;
    outline: none;
    border-radius: 50px;
    background: #508bfc;
    color: black;
  }
  /* for editing placeholder in input */
  input::placeholder{
    color: rgb(235, 231, 231);
  }

  h2{
    display: flex;
    justify-content: center;
    font-size: large;
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    text-align: center;
  }
  a {
    color: black;
  }